<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liveabetes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/android_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/android_icon">
        <activity
            android:name="com.example.liveabetes.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.liveabetes.BloodGlucoseActivity"
            android:label="@string/title_activity_blood_glucose"
            android:parentActivityName="com.example.liveabetes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.liveabetes.MainActivity" />
        </activity>
        <activity
            android:name="com.example.liveabetes.BloodPressureActivity"
            android:label="@string/title_activity_blood_pressure"
            android:parentActivityName="com.example.liveabetes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.liveabetes.MainActivity" />
        </activity>
        <activity
            android:name="com.example.liveabetes.GraphActivity"
            android:label="@string/title_activity_graph"
            android:parentActivityName="com.example.liveabetes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.liveabetes.MainActivity" />
        </activity>
        <activity
            android:name="com.example.liveabetes.InsulinActivity"
            android:label="@string/title_activity_insulin"
            android:parentActivityName="com.example.liveabetes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.liveabetes.MainActivity" />
        </activity>
        <activity
            android:name="com.example.liveabetes.WeightActivity"
            android:label="@string/title_activity_weight"
            android:parentActivityName="com.example.liveabetes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.liveabetes.MainActivity" />
        </activity>
        <activity
            android:name="com.example.liveabetes.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.example.liveabetes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.liveabetes.MainActivity" />
        </activity>
    </application>

</manifest>